/bin/*
!/bin/iStats.sh
!/bin/git-clean-checkout
/.config/nvim/tmp/backup
/.config/nvim/tmp/swap
/.config/nvim/tmp/undo
/.config/nvim/plugged
*~
*.log
/.mpd/mpd.db
/.mpd/mpdstate
/.mpd/playlists/*
/.mpd/sticker.sql
/.mpd/mpd.pid
/.config/fish/fish_history
/.config/fish/fishd*
