[user]
	name = Samuel Molnar
	email = molnar.samuel@gmail.com
[merge]
	tool=meld
[color]
	current=blue
	local=cyan
	remote=yellow
[alias]
	df=diff
	co=checkout
	cl=clone
	cm=commit
	st=status
	pp=push origin master
